<div class="content" role="main">
    <!-- Highlight Card -->
    <h1>Subscription order</h1>
    <mat-stepper class="card" #stepper>
        <mat-step [stepControl]="params">
            <form [formGroup]="params">
                <ng-template matStepLabel>Subscription parameters</ng-template>
                <mat-form-field appearance="fill">
                    <mat-label class="label">Duration</mat-label>
                    <mat-select formControlName="price">
                        <mat-option *ngFor="let subscriptionPlan of subscriptionPlans" [value]="subscriptionPlan.priceUsdperGb">
                            {{ subscriptionPlan.durationMonths }} months
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label class="label">Amount of gigabytes</mat-label>
                    <mat-select formControlName="amountGb">
                        <mat-option [value]="5">5</mat-option>
                        <mat-option [value]="10">10</mat-option>
                        <mat-option [value]="50">50</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-radio-group aria-label="Select an option" formControlName="upFront">
                    <mat-label class="label">Upfront payment</mat-label>
                    <mat-radio-button value="true">yes</mat-radio-button>
                    <mat-radio-button [value]="false">no</mat-radio-button>
                </mat-radio-group>
                <div>
                    <button mat-flat-button color="primary" matStepperNext [disabled]="params.status !== 'VALID'">
            Next
          </button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="payment" label="Payment">
            <form [formGroup]="payment">
                <mat-form-field appearance="fill">
                    <mat-label>Credit card number</mat-label>
                    <input matInput formControlName="cardNumber" placeholder="credit card number " required />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Credit card Expiration Date </mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="expirationDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Credit card security code</mat-label>
                    <input matInput formControlName="cardCode" placeholder="code" required />
                </mat-form-field>
                <div>
                    <button mat-flat-button matStepperPrevious color="accent" style="margin-right: 15px;">
                         Back
                    </button>
                    <button mat-flat-button matStepperNext color="primary" [disabled]="payment.status !== 'VALID'" (click)="validSubscription()">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="confirmation">
            <ng-template matStepLabel>Confirmation</ng-template>
            <p style="color: white">Total price subscription: {{ totalPrice }}</p>
            <p style="color: white">Price per GB: {{ priceperGb }}</p>
            <form [formGroup]="confirmation">
                <mat-form-field appearance="fill">
                    <mat-label class="label">Email</mat-label>
                    <input matInput placeholder="email" formControlName="email" required />
                </mat-form-field>
                <mat-checkbox formControlName="check" checked="check">Terms and conditions agreement</mat-checkbox>

            </form>


            <div>
                <button mat-flat-button matStepperPrevious color="accent" style="margin-right: 15px;">Back</button>
                <button mat-flat-button matStepperNext color="primary" [disabled]="confirmation.status !== 'VALID' && !confirmation.value.check">Confirm</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>

<router-outlet></router-outlet>